<!-- 
<h1>Update </h1>
<form action="/campgrounds/<%=foundCamp._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Update Title</label>
        <input type="text" name="campground[title]" id="title" value="<%=foundCamp.title%>">
    </div>
    <div>
        <label for="location">Update Location</label>
        <input type="text" name="campground[location]" id="location" value="<%=foundCamp.location%>">
    </div>
    <button>Update Campground</button>

</form>
<footer><a href="/campgrounds/<%=foundCamp._id%>">cancel</a></footer> -->
<% layout("/layout/boilerplate")%>


<head>
    <link rel="stylesheet" href="/stylesheets/newPage.css">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 my-auto">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">New Campground</h5>
                    <form action="/campgrounds/<%=foundCamp._id%>?_method=PUT" method="POST" novalidate
                        class="validated-form" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]"
                                value="<%=foundCamp.title%>" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">Please Add a Name</div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]"
                                value="<%=foundCamp.location%>" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">Please Add a Location</div>
                        </div>

                        <div class="mb-2">
                            <label for="price" class="form-label">Price</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" name="campground[price]" id="price" class="form-control"
                                    aria-label="Amount (to the nearest dollar) " value="<%=foundCamp.price%>" required>
                                <div class="valid-feedback">Looks Good</div>
                                <div class="invalid-feedback">Please Add a Price</div>
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Add Images</label>
                            <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
                            <p>Press Ctrl to select multiple pictures</p>
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]"
                                required><%=foundCamp.description%></textarea>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">Please Add a Short Description</div>
                        </div>
                        <div class="mb-3">
                            <p>Current Images</p>
                            <% foundCamp.image.forEach(function(img, i){ %>
                            <!-- the thumbnail property have been set to reduce the image size via cloudinary(see models/campground) -->
                            <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                            <div class="form-check">
                                <input type="checkbox" id="delete<%=i%>" name="deleteImage[]" value="<%=img.filename%>">
                                <label for="delete<%=i%>">Delete Image</label>
                            </div>

                            <% }) %>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Update <%=foundCamp.title%></button>
                    </form>
                    <a class="btn btn-danger" href="/campgrounds/<%=foundCamp._id%>">Cancel </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>